{%extends "base.html"%}
{%load pglister%}
{%block extrahead%}
<script src="/media/js/jquery-1.12.4.min.js"></script>
<script src="/media/js/bootstrap.min.js"></script>
{%endblock%}
{%block content%}
<h1>Bounces</h1>
<p>
 The following bounces are registered for {{sub.email}}
 subscription to {{list}} in the past month.
</p>

<div class="container ltable">
 <div class="row header">
  <div class="col-md-2">Date</div>
  <div class="col-md-5">Message</div>
  <div class="col-md-5">Headers</div>
 </div>
{%for b in bounces%}
 <div class="row">
  <div class="col-md-2 {%if b.dt%}{%if b.transient%}bg-warning{%else%}bg-danger{%endif%}{%else%}bg-success{%endif%}">{{b.completedts}}</div>
{%if b.dt%}
  <div class="col-md-5">
    <button class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target=".msgbounce-{{b.id}}" aria-expanded="false">..</button> {{b.message.0}}
    <div class="collapse msgbounce-{{b.id}}">
      <form method="post" action=".">{%csrf_token%}
	<input type="hidden" name="transientid" value="{{b.id}}">
	<input type="submit" name="submit" class="btn btn-warning btn-xs" value="Mark {{b.transient|yesno:"permanent,transient"}}">
	<input type="submit" name="submit" class="btn btn-warning btn-xs" value="Mark complete delivery {{b.transient|yesno:"permanent,transient"}}">
{%if list.archivedat%}
	<a class="btn btn-primary btn-xs" href="{{list.archivedat.mailurlpattern|replacepercent:b.messageid}}">View in archives</a>
{%endif%}
      </form>{{b.message|slice:"1:"|join:"<br/>"}}
    </div>
  </div>
  <div class="col-md-5">
    <button class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target=".msgbounce-{{b.id}}" aria-expanded="false">..</button> {{b.header.0}}
    <div class="collapse msgbounce-{{b.id}}">{{b.header|slice:"1:"|join:"<br/>"}}</div>
  </div>
{%else%}
  <div class="col-md-10"><i>Delivered or pending</i></div>
{%endif%}
 </div>
{%endfor%}
</div>

<p></p>
<form method="post" style="display:inline" action=".">{%csrf_token%}
 <input type="hidden" name="unsub" value="1" />
 <input type="hidden" name="listid" value="{{list.id}}" />
 <input type="submit" class="btn btn-default" value="Unsubscribe this user" onclick="return confirm('Are you sure you want to unsubscribe this user?')">
</form>

{%if otherlists%}
<h2>Bounce status on other lists</h2>
<div class="container ltable">
 <div class="row header">
  <div class="col-md-4">List</div>
  <div class="col-md-2">Bounces</div>
  <div class="col-md-2">Deliveries</div>
  <div class="col-md-2">Percentage</div>
  <div class="col-md-2">Last 7 days</div>
 </div>
{%for l in otherlists%}
<div class="row">
  <div class="col-md-4">{{l.name}}</div>
  <div class="col-md-2">{{l.bounces}}</div>
  <div class="col-md-2">{{l.deliveries}}</div>
  <div class="col-md-2">{{l.percentage}}%</div>
  <div class="col-md-2">{%if l.percentage_last_7 is not None%}{{l.percentage_last_7}}%{%endif%}</div>
</div>
{%endfor%}
</div>

<form method="post" style="display:inline" action=".">{%csrf_token%}
 <input type="hidden" name="unsub" value="2" />
 <input type="hidden" name="listidlist" value="{{all_listids|join:","}}" />
 <input type="submit" class="btn btn-default" value="Unsubscribe this user from all lists" onclick="return confirm('Are you sure you want to unsubscribe this user from {{all_listids|length}} lists?')">
</form>
<p></p>
{%endif%}

<a class="btn btn-default" href="/moderate/">Return to overview</a>

{%endblock%}
