{%load pglister%}
{%if form.non_field_errors%}
 <div class="alert alert-danger">{{form.non_field_errors}}</div>
{%endif%}
{%if note%}
<div class="alert alert-info">{{note|safe}}</div>
{%endif%}
 {%for field in form%}
 {%if not field.is_hidden%}
  {%if field|ischeckbox%}
 <div class="form-group">
 <div class="col-lg-12 checkbox{%if field|isrequired_error%} alert alert-danger{%endif%}">
   <label>
     {{field}} {{field.help_text|safe}}
   </label>
 </div>
  {%if field.errors and not field|isrequired_error %}
   {%for e in field.errors%}
 <div class="alert alert-danger">{{e}}</div>
   {%endfor%}
  {%endif%}
</div>
  {%else%}{# field|ischeckbox#}
 <div class="form-group">
   {{field|label_class:"control-label col-lg-2"}}
   <div class="col-lg-10 controls">
  {%if field.errors %}
   {%for e in field.errors%}
 <div class="alert alert-danger">{{e}}</div>
   {%endfor%}
  {%endif%}
{{field|field_class:"form-control"}}
{%if field.help_text%}<div>{{field.help_text|safe}}</div>{%endif%}</div>
 </div>
  {%endif%}{# field|ischeckbox #}
 {%else%}{# field.is_hidden #}
{{field}}
 {%endif%}
{%endfor%}
 <div class="form-group">
  <div class="col-lg-12">
   <div class="control">
     <input type="submit" class="btn btn-default" value="{{view.savebutton|default:"Save"}}">
{%if view.cancelurl%}
     &nbsp;&nbsp;<a class="btn btn-default" href="{{view.cancelurl}}">{{view.cancelname|default:"Cancel"}}</a>
{%endif%}
   </div>
  </div>
 </div>
